.nav-links-container {
    background-color: black;
    display: flex;
    justify-content: flex-end;
    align-content: space-between;

    .nav-link {
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        color: white;
        margin: 20px;
    }

}