.nav-container {
    background-color: black;
    display: flex;
    justify-content: space-between;
    height: 80px;

    @media (max-width: 650px) {
        .web-nav {
            display: none;
        }
    }

    @media (min-width: 651px) {
        .mobile-nav {
            display: none;
        }
    }

    
}