.nav-w-logo-container {
    display: flex;
    justify-content: space-between;
    background-color: black;
    height: 80px;
    .nav-w-logo-link-container {
        // display: flex;
        // align-content: center;
        margin: 15px 0 0 60px;
        width: 70px;
        height: 70px;

    }
}