.App {
    background-color: black;
    width: 100%;
    height: 100vh;
}

.logo-container{
    display: flex;
    justify-content: center;
    height: 100vh;
}

.logo {
    width: 35vw;
}

@media (prefers-reduced-motion: no-preference) {
    .logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }

@keyframes App-logo-spin {
from {
    transform: rotate(0deg);
}
to {
    transform: rotate(360deg);
}
}